<div>
  <div id="app">
    <h3 class="d-flex justify-content-center">
      Employee Management Portal
      <!-- Angular Front End -->
    </h3>
    <h5 class="d-flex justify-content-center">
      <!-- Employee Management Portal -->
    </h5>
  </div>
  
  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item m-1"><a class="btn btn-light btn-outline-primary" routerLink="home">Home</a></li>
      <li class="nav-item m-1"><a class="btn btn-light btn-outline-primary" routerLink="department">Department</a></li>
      <li class="nav-item m-1"><a class="btn btn-light btn-outline-primary" routerLink="employee">Employee</a></li>
    </ul>
  </nav>
  
</div>

<router-outlet></router-outlet>
